:root {
  --color-text-primary-light: rgb(153, 153, 153);
  --color-text-primary: black;
  --color-text-primary-dark: rgb(60, 60, 60);

  --color-text-secondary: white;
  --color-text-secondary-light: rgb(153, 153, 153);
  --color-text-secondary-dark: rgb(60, 60, 60);

  --color: red;
}
